* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
  text-align: center;
  background: #f4f4f4;
}
.money-img {
  width: 200px;
}
.equal {
  font-size: 30px;
  font-weight: bold;
}
.container{
  border: 2px dashed rgb(157, 101, 185) ;
}